<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<% if current_page?(root_path) %>
			<span class="navbar-brand">LCDV</span>
		<% else %>
			<a class="navbar-brand" href="<%= root_path %>">LCDV</a>
    	<% end %>
    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        		<li class="nav-item">
            		<%= link_to 'Home', root_path, class: "nav-link #{'active' if current_page?(root_path)}", aria: { current: ('page' if current_page?(root_path)) } %>
    			</li>
				<li class="nav-item">
            		<%= link_to 'Trips', "/trips", class: "nav-link #{'active' if current_page?("/trips")}", aria: { current: ('page' if current_page?("/trips")) } %>
    			</li>
				<li class="nav-item">
            		<%= link_to 'Users', "/users", class: "nav-link #{'active' if current_page?("/users")}", aria: { current: ('page' if current_page?("/users")) } %>
    			</li>
      		</ul>
		</div>
	</div>
</nav>